.blog-block {
  position: absolute;
  top: calc(-100vh - 50px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  transition: .5s;
  // width: 100vw;
  height: calc(100vh - 180px);
  overflow-y: auto;
  width: 100%;

  &.active {
    top: 80px;
  }

  // .wrap {
  //   max-height: 100%;
  // }
}

.blog-block__wrap {
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  // overflow-x: auto;
  overflow-y: auto;
  background: url(../img//blog/blog-bg.jpg) no-repeat 50% 50%;
  background-size: cover;
  max-height: 100%;
  border-radius: 15px;
}

.blog-block__container {
  height: 100%;
}

.blog-block__items {
  padding: 80px 25px;
  background: rgba(225, 225, 225, .5);
}

.blog-block__item {
  padding: 15px 15px;
  background: rgba(225, 225, 225, .4);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius:15px;
  margin: 0 0 30px;
  font-size: 18px;

  p {
    margin: 0 0 20px;
    &:last-of-type {
      margin: 0 0 10px;
    }
  }
}

.blog-block__item-description {
  margin: 0;
}

.blog-block__item-title {
  margin: 0 0 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  border-bottom:  1px solid #ccc;
  padding: 0 0 10px;
}

.blog-block__item-date {
  border-top: 1px solid #ccc;
  margin: 0;
  padding-top: 10px;
  display: block;
}
