.DS_Store
/**/.DS_Store
.idea
*.ai
*.log
*.pdf
*.psd
*.sublime*
npm-debug.*
Thumbs.db
build/
node_modules/
resources/
/wp-content/themes/twenty*
/wp-content/themes/atmosphere
/wp-content/upgrade
/sitemap.*
/wp-config.php
/gulpfile.js

*.DS_Store
*Thumbs.db
*.sass-cache*
*~imageoptim*
