.main-container {
 width: 100vw;
 height: 100vh;
 background: url(../img/main/main-bg.jpg) no-repeat;
 background-size: cover;
 display: flex;
 align-items: center;
 overflow: hidden;
 justify-content: center;
}

.main-container__content {
  width: 60vw;
  display: flex;
  // height: 80vh;
}
