.footer {
  padding: 10px 0;
  background: rgba(225, 225, 225, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  color: #000;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 14px;
  line-height: 1.4;

  a {
    color: inherit;

    &:hover {
      opacity: .8;
    }
  }

   p {
    margin: 0;

    &:first-of-type {
      margin-bottom: 10px;
    }
  }
}

.footer__contact {


}

@media #{$s} {
  .footer {
    padding: 2.63em 0 0.56em;
  }

  .social.footer__social {
    margin-bottom: 3.5em;

    svg {
      width: 30px;
      height: 30px;
    }
  }

  .footer__address {
    margin-bottom: 0.69em;
  }

  .footer__copyright {
    small {
      font-size: 0.75em;
      line-height: 1.5;
    }
  }
}
