html {
  box-sizing: border-box;
  font: 24px/2 $font-main;
}

body {
  background: $bg;
  color: $col-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: inherit;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.visually-hidden {
  @include visually-hidden;
}

.hidden {
  @media #{$t-m} {
    @include visually-hidden;
  }
}

.body-popup {
  overflow: hidden;
}

.wrap {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}

@media #{$d-x} and #{$d-m} {
  html {
    font-size: 20px;
  }
}

@media #{$t} and #{$t-m} {
  html {
    font-size: 18px;
  }
}

@media #{$s} {
  html {
    font-size: 16px;
    line-height: 1.13;
  }
}
